<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <h1></h1>
    <%= render stamps %>
  </tbody>

</table>